### PROJECT SETTINGS

PROJECT_NAME=example
PROJECT_BASE_URL=example.loc
WP_HOME=http://example.loc:8000

DB_NAME=databasename
DB_USER=databaseroot
DB_PASSWORD=databasepass
DB_ROOT_PASSWORD=databaserootpass

###Database name and port NOT change
DB_HOST=database
PORT_DATABASE=3309

### --- Wordpress ----
### https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY=generateme
SECURE_AUTH_KEY=generateme
LOGGED_IN_KEY=generateme
NONCE_KEY=generateme
AUTH_SALT=generateme
SECURE_AUTH_SALT=generateme
LOGGED_IN_SALT=generateme
NONCE_SALT=generateme

### --- PHP ----

# Linux (uid 1000 gid 1000)

PHP_TAG=7.3-dev-4.13.9
#PHP_TAG=7.2-dev-4.13.9
#PHP_TAG=7.1-dev-4.13.9
#PHP_TAG=5.6-dev-4.13.9


### OTHERS

APACHE_TAG=2.4-4.1.3
